<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #135f30;">
    <!-- Brand Logo -->
    <a href="/student/dashboard" class="brand-link">
      
      <span class="brand-text font-weight-light">Hello Student   </span>
    </a>
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info">
          <a href="/" class="d-block font-family: Handlee, cursive;">||GuruKul-MahaVidiyaly||</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    <!-- Sidebar -->
    <div class="sidebar">
       <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               For Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-header">EXAMPLES</li>
              <!-- <li class="nav-item">
                <a href="/admin/new-admission" class="nav-link">
                  <i class="nav-icon bi bi-person-plus"></i>
                  <p>
                    New Student
                    <span class="badge badge-info right">2</span>
                  </p>
                </a>
              </li> -->
              <li class="nav-item">
                <a href="/student/payment" class="nav-link">
                  <i class="nav-icon far fa-calendar-alt"></i>
                  <p>
                    Manage My Payments
                    <span class="badge badge-info right">2</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/student/notification" class="nav-link">
                  <i class="nav-icon bi bi-person-video2"></i>
                  <p>
                    Notices
                    <span class="badge badge-info right">2</span>
                  </p>
                </a>
              </li>
              <li class="nav-header">FORMS</li>

              <li class="nav-item">
                <a href="/student/payment" class="nav-link">
                  <!-- <i class="nav-icon bi bi-pencil-square"></i> -->
                  <p>
                    Student payment
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/student/single-result" class="nav-link">
                  <!-- <i class="nav-icon bi bi-pencil-square"></i> -->
                  <p>
                    Student result
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/student/notification" class="nav-link">
                  <!-- <i class="nav-icon bi bi-person-video2"></i> -->
                  <p>
                    Notices
                    <span class="badge badge-info right">2</span>
                  </p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="/teacher/teacher-form" class="nav-link">
                  <i class="nav-icon bi bi-pencil-square"></i>
                  <p>
                    Teacher Form
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/course-form" class="nav-link">
                  <i class="nav-icon bi bi-pencil-square"></i>
                  <p>Course Form</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/asset-form" class="nav-link">
                  <i class="nav-icon bi bi-pencil-square"></i>
                  <p>
                    Asset Form
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/class-form" class="nav-link">
                  <i class="nav-icon bi bi-pencil-square"></i>
                  <p>
                    Class Fee Form
                  </p>
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a href="/admin/asset-form" class="nav-link">
                  <p>Asset Form</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/class-form" class="nav-link">
                  <p>Class form</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/course-form" class="nav-link">
                  <p>Course Form</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/invoice" class="nav-link">
                  <p>Invoice</p>
                </a>
              </li> -->
            </ul>
          </li>
        </ul>
        
    </aside>
    
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">