<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <a class="navbar-brand" href="">Student| portal</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"  href="">User</a></li>
        </ul>
    </div>
</nav>