<!-- foot of Page -->
<div class="container-fluid" style="font-family: Handlee, cursive;">
    <div class="row text-light" style="background-color: #00394f;">
        <h4 class="text-center fs-1  mb-5 mt-3 font-weight-bold " style="text-decoration: underline">School
            Management System</h4>
        <div class="col-3 mx-auto my-auto">
            <!-- {{-- <div class="col my-auto"> --}} -->
            <p class="fs-5 font-weight-bold ">Quick link</p>
            <p class="fw-light">Home</p>
            <p class="fw-light">About</p>
            <p class="fw-light">Project</p>
            <p class="fw-light">Workshop</p>
            <p class="fw-light">Hire us</p>
            <!-- {{-- </div> --}} -->
        </div>
        <div class="col-3 mx-auto my-auto">
            <p class="fs-5 font-weight-bold ">About Class</p>
            <p class="fw-light">About Instructor</p>
            <p class="fw-light">MileStones</p>
            <p class="fw-light">Community</p>
            <p class="fw-light">Our Tea,</p>
        </div>
        <div class="col-3 mx-auto my-auto">
            <p class="fs-5 font-weight-bold ">Line basti Panchayat bhawan </p>
            <p class="fw-light">Near newalal chowk Purnea - 854301</p>
            <p class="fw-light">+91 91 1768 5337</p>
            <p class="fw-light">www.ayush91176@gmail.com</p>
        </div>
        <div class="container-fluid py-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
            <p class="m-0 text-center text-white">
                &copy; <a class="text-primary font-weight-bold" href="#"> AyusH jHA</a>. All Rights Reserved.
                Designed
                by
                <a class="text-primary font-weight-bold" href="https://github.com/Neo-Ayush-jha">Node.js, Mongoose and ejs template Codex</a>
            </p>
        </div>
    </div>
</div>
<!-- foot of Page End -->
